body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #e6e1ef;
  color: #333;
  
}

.hero {
  text-align: center;
  padding: 2rem;
  background-color: #E6E1EF;
}

.btn {
  background-color: #924A90;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

section {
  padding: 2rem;
}

.d-block w-100 {
  width: 45%;
  border-radius: 10px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 auto;
}

input, textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #72418c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #925A90;
}

#sobre{
  text-align: center;
}

#teste{
  width: 80%; /* Ocupa 80% da largura da tela */
    margin: 50px auto; /* Centraliza horizontalmente e adiciona 50px de margem em cima/baixo */
    
    /* 2. Estilos Visuais */
    background-color: #ffffff; /* Fundo branco */
    border: 1px solid #ccc; /* Borda cinza clara */
    border-radius: 10px; /* Cantos arredondados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    
   
}

.carousel-inner {
  height: 100%;
}

.carousel-control-prev {
  left: 20px;
}

.carousel-control-next {
  right: 20px;
}


.container text-center{
  display: flex;
}

.row, col{
  flex-direction: row;
  columns: 3;
  row-gap: 2;
}